resource "azurerm_subnet" "{{ subnet_id }}" {
  name                 = "{{ subnet_name }}"
  resource_group_name  = azurerm_resource_group.{{ resource_group_id }}.name
  virtual_network_name = azurerm_virtual_network.{{ network_id }}.name
  address_prefixes     = ["{{ subnet_cidr }}"]
}
