

{% if public_ip %}
resource "azurerm_public_ip" "{{ vm_id }}-pub-ip" {
  name                = "{{ vm_id }}-pub-ip"
  resource_group_name = azurerm_resource_group.{{ resource_group_id }}.name
  location            = azurerm_resource_group.{{ resource_group_id }}.location
  allocation_method   = "Dynamic"
}

resource "azurerm_network_interface" "{{ vm_id }}" {
  name                = "{{ vm_name }}-nic"
  location            = azurerm_resource_group.{{ resource_group_id }}.location
  resource_group_name = azurerm_resource_group.{{ resource_group_id }}.name

  ip_configuration {
    name                          = "public"
    subnet_id                     = azurerm_subnet.{{ subnet_id }}.id
    private_ip_address_allocation = "Dynamic"
    public_ip_address_id          = azurerm_public_ip.{{ vm_id }}-pub-ip.id
  }
}
{% else %}
resource "azurerm_network_interface" "{{ vm_id }}" {
  name                = "{{ vm_name }}-nic"
  location            = azurerm_resource_group.{{ resource_group_id }}.location
  resource_group_name = azurerm_resource_group.{{ resource_group_id }}.name

  ip_configuration {
    name                          = "internal"
    subnet_id                     = azurerm_subnet.{{ subnet_id }}.id
    private_ip_address_allocation = "Static"
    private_ip_address            = "{{ vm_ip }}"
  }
}
{% endif %}

resource "azurerm_linux_virtual_machine" "{{ vm_id }}" {
  name                  = "{{ vm_name }}-vm"
  resource_group_name   = azurerm_resource_group.{{ resource_group_id }}.name
  location              = azurerm_resource_group.{{ resource_group_id }}.location
  size                  = "{{ vm_size }}"

  computer_name         = "{{ vm_name }}"
  admin_username        = "{{ vm_username }}"
  admin_password        = "{{ vm_password }}"
  disable_password_authentication = false

  {% if ssh_key %}
  admin_ssh_key {
    username   = "{{ vm_username }}"
    public_key = file("{{ ssh_key }}")
  }
  {% endif %}

  network_interface_ids = [azurerm_network_interface.{{ vm_id }}.id]

  source_image_reference {
    publisher = "{{ vm_os_publisher }}"
    offer     = "{{ vm_os_offer }}"
    sku       = "{{ vm_os_sku }}"
    version   = "{{ vm_os_version }}"
  }

  os_disk {
    name                  = "{{ vm_name }}-os-disk"
    caching               = "ReadWrite"
    storage_account_type  = "{{ vm_disk_type }}"
  }
}

{% if public_ip %}
output "{{ vm_id }}-public-ip" {
  value = azurerm_public_ip.{{ vm_id }}-pub-ip.ip_address
}
{% endif %}

output "{{ vm_id }}-private-ip" {
  value = azurerm_network_interface.{{ vm_id }}.private_ip_address
}
